.portfolio-main{
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f6f7;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  height:auto !important;
}

.portfolio-insert{
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin-top: 50px;
}

.portfolio-form{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;

}